/* Start Global Rules */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --mainColor: #2196f3;
  --textColor: #fff;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Setting Box */
.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  min-height: 100vh;
  background-color: var(--textColor);
  z-index: 100;
  transition-duration: 0.3s;
}

.setting-box.open {
  left: 0;
}

.setting-box i {
  position: absolute;
  right: -30px;
  top: 100px;
  color: var(--mainColor);
  background-color: var(--textColor);
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.setting-box i.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.setting-box .options .colors {
  background-color: #eee;
  width: 90%;
  height: 70px;
  margin:10px auto;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.setting-box .options .colors h4 {
  color: rgb(114, 113, 113);
  padding-top: 10px;
  margin: 0;
  padding-top: 5px;
}

.setting-box .options .colors ul {
text-align: center;
padding: 0;
}

.setting-box .options .colors ul li {
   width: 18px;
   height: 18px;
   margin-left: 5px;
   background-color: rgb(57, 57, 57);
   display: inline-block;
   cursor: pointer;
   outline: 2px solid transparent;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.setting-box .options .colors ul li.active {
  opacity: 1;
  outline: 2px solid #333;
}

.setting-box .options .colors ul li:first-child {
  background-color: #2196f3;
}

.setting-box .options .colors ul li:nth-child(2) {
  background-color: #f44336;
}

.setting-box .options .colors ul li:nth-child(3) {
  background-color: #9c27b0;
}

.setting-box .options .colors ul li:nth-child(4) {
  background-color: #4caf50;
}

.setting-box .options .colors ul li:nth-child(5) {
  background-color: #cddc39;
}


/* End Setting Box */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-image: url(../images/01.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  background-color: #333333ab;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing .header {
  padding: 25px;
  color: var(--textColor);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.landing .logo {
  font-weight: bold;
}

.landing .links {
  display: flex;
  margin: 0;
  padding: 0;
}

.landing .links li {
  display: inline-block;
  margin-left: 10px;
}

.landing .links li a {
  color: var(--textColor);
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.landing .links li a:hover {
  color: var(--mainColor);
}

.landing .intro-text {
  position: absolute;
  text-align: center;
  color: var(--textColor);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
  font-size: 40px;
  margin: 50px 0 0;
}

.landing .intro-text h1 span {
  color: var(--mainColor);
}

.landing .intro-text p {
  font-size: 20px;
  line-height: 1.6;
}

.landing i {
  display: none;
}

/* Landing Responsive */
@media (max-width: 767px) {
  .landing .intro-text {
    width: 80%;
    margin-top: 0;
  }

  .landing .intro-text h1 {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .landing .links {
    display: none;
    position: absolute;
    right: 10px;
    top: calc(100% - 10px);
    flex-wrap: wrap;
    min-width: 200px;
    padding: 5px;
    background-color: var(--textColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .landing .links::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--textColor) transparent;
    right: 18px;
    top: -20px;
  }

  .landing .links li {
    display: block;
    width: 100%;
    padding: 5px;
    z-index: 4;
  }

  .landing .links li a {
    font-weight: bold;
    color: var(--mainColor);
  }

  .landing i {
    display: block;
    font-size: 30px;
    color: var(--textColor);
    cursor: pointer;
  }

  .landing .intro-text {
    margin-top: 20px;
  }
}
/* End Landing */
